body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #9f6bff, #6119cc);
}

table{
  background-color: #e0e7ff;
}
table {
  border-collapse: collapse;
  width: 50%; /* Definindo a largura da tabela */
}

th, td {
  padding: 8px;
  text-align: center;
}

tfoot {
  display: table-footer-group;
}
